body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
 .buttons-class{
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

 }
button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
}
button:hover {
transform: scale(1.1);
} 
